
<div ><p>Welcome Back <%= current_user.email %></p> </div>
<div class= "user_container">

  <div class="word_box">
<% if @user.adoptions.length != 0 %>
<p> <h2>You have adopted <%= @user.adoptions.length %> words</h2>

    <% @user.adoptions.each do |w| %>
    <table class ="word_table"><tr><td class = 'gab'><%= Word.find_by_id(w[:word_id]).word.capitalize%></td></tr>
     <tr> <td><%= Word.find_by_id(w[:word_id]).meaning %></td></tr>
    </table>
  <% end %>

  <% end %>

 <%= render :partial => "/posts/form"%>
</div>
<div class = "tweets">
  <%= @search %>
  <% if @another_tweet != nil? %>
      Your adopted words tweets
<% @another_tweet.each do |w| %>
          <table class="word_table"><tr><td><%= image_tag('twitter-logo.jpg', :size => "64x64", :alt => "Twitter Logo")%></td><td class="gab"><%= w.text %></td></tr>
            <tr><td><%= w.screen_name %></td><td> <%= w.created_at %></td></tr>
          </table>
    <% end %>
         <p class="adopt_button"><%= link_to "Adopt Another Word", words_path%></p>

      <% else %>
      When you tweet your adopted word in twitter we will show it here!
  <p class="adopt_button"><%= link_to "Adopt A Word", words_path%> </p>
      <% end %>
</div>

</div>


