<!--<%= render :partial => "/searches/form"%>-->
<div id="words_container">
<div id="checkbox">

  <%= form_tag(@search, :url => searches_path) do |f| %>
  <% end %>

  <%= form_tag words_path, :method => 'get' do %>
<table class="search">

  <tr><td onmouseover="this.toggleClass()">Search Word</td><td><%= text_field_tag :search, params[:search] %></td></tr>
  <tr></tr>
  <tr><td>Type</td><td><%= select(:search3, :type, [['All',''],['Adjective', 'adj'], ['Noun', 'noun'],['Verb', 'verb']],{ "style" => "width:200px" }) %></td></tr>
  <tr></tr>
  <tr><td>Category</td><td><%= select(:search2, :category, [['All',''],['Kind', 'kind'], ['Mean', 'mean'],['Medical', 'medical'],['General','general'],['Science','science'],['Funny','funny']]) %></td></tr>
  <tr></tr>
</table>
  <%= submit_tag "Search", :word => nil, :width => 300 %> </br></br>
  <%= link_to "Search All Words", words_path %>
<% end %>

</div>
<div id="words">
<%= render 'words' %>
</div>
<br />
</div>








