
<div id="words_container">
<div id="checkbox">

  <%= form_tag(@search, :url => searches_path) do |f| %>
     <div class="field">
  </div>

  <% end %>

  <%= form_tag words_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    </br>
    <%= text_field_tag :search2, params[:search2] %>
  <%= submit_tag "Search", :word => nil %>

<%= select(:person, :city_id, [['Lisbon', 1], ['Madrid', 2],]) %>

  </p>
<% end %>

</div>
<div id="words">
<table >
  <tr>
    <th>WORD</th>
    <th>TYPE</th>
    <th>MEANING</th>
  </tr>
<% @words.each do |wordy| %>
  <tr class="<%= cycle('oddrow','evenrow') %>">
    <td><%= wordy.word %></td>
    <td><%= wordy.word_type %></td>
    <td><%= wordy.meaning %></td>
    <td><%= link_to 'Adopt Word', adoptions_path(:id => wordy), :method => :post %></td>
    <td> <% if user_signed_in? %>
         <%= link_to 'Show', wordy%>
     <% else %>
         <%= link_to "Show",new_user_session_path%>.
     <% end %></td>
  </tr>
<% end %>

</table>
  <%= will_paginate @words, previous_label: h("<"), next_label: h(">") %>
  </div>
<br />
</div>








