<div class="user_container">
  <div class='word_box'>
    <table class="word_show">
      <tr>
        <td class='gab'><%= @word.word.capitalize %></td>
        <td id="word_type">(<%= @word.word_type %>)</td>
      </tr>
      <tr>
        <td></td>
        <td id="word_meaning">--<%= @word.meaning.capitalize %>--</td>
      </tr>
      <tr>
        <td></td>
        <td id="word_usage">"<%= @word.usage %>"</td>
      </tr>
      <tr>
        <td></td>
        <td class="adopt_button"><%= link_to 'Adopt This Word', adoptions_path(:id => @word), :method => :post %></td>
      </tr>
    </table>
  </div>

     <% @tweet_search.each do |t|  %>
      <%= t.user[:name] %> </br>
       <%= t.user[:screen_name] %> </br>
      <%= t[:text] %> </br>
    <% end %>
</div>