
<div id="gab"><p><%= @word.word.capitalize %></p> </div>
<div id="word_type"><p>(<%= @word.word_type %>)--</p></div>
<div id="word_meaning"><p><%= @word.meaning.capitalize%></p></div>
<div id="word_usage"><p>"<%= @word.usage %>"</p></div>




<!--
<table id="word_table">
    <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
   <tr>
     <td id="gab"><%= @word.word.capitalize %></td>
     <td id="word_type">(<%= @word.word_type %>)--</td>
   </tr>
  <tr>
     <td id="word_meaning"><%= @word.meaning.capitalize%></td>
   </tr>
  <tr>
  <td id="word_usage">"<%= @word.usage %>"</td>
  </tr>
</table>-->
