
<div id="gab"><p><%= @word.word.capitalize %></p> </div>
<div id="word_type"><p>(<%= @word.word_type %>)--</p></div>
<div id="word_meaning"><p><%= @word.meaning.capitalize%></p></div>
<div id="word_usage"><p>"<%= @word.usage %>"</p></div>

 <td><%= link_to 'Adopt Word', adoptions_path(:id => @word), :method => :post %></td>
