<%= form_tag('/words/search', :method => :get) %>

  <div class="field">
    <%= label_tag :keywords %><br />
    <%= text_field_tag :keywords %>
  </div>

    <%= select(:search, :category, [['Funny', 'funny'], ['Mean', 'mean']]) %>

  <div class="actions">
    <%= submit_tag %>
  </div>

