<p id="notice"><%= notice %></p>

<div><p><%= @search.words[0].word%></p> </div>
<div><p><%= @search.words[0].word_type%></p> </div>
<div><p><%= @search.words[0].time%></p> </div>
<div><p><%= @search.words[0].meaning%></p> </div>
<div><p><%= @search.words[0].usage%></p> </div>
<div><p><%= @search.words[0].category%></p> </div>
